* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background: #444;
}

h2,
h3 {
  font-weight: 300;
  padding: 1rem;
  text-align: center;
}

li {
  list-style: none;
}

button {
  appearance: none;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
}

button:hover,
button:focus {
  opacity: 0.9;
  box-shadow: 1px 1px 3px #333;
}

.btn {
  padding: 1rem 2rem;
  background: #444;
  color: #f4f4f4;
  display: block;
  margin: 1.5rem auto;
}

.game-wrapper {
  margin: 3rem auto;
  padding: 1rem;
  background: #ccc;
  border-radius: 5px;
  width: 500px;
  height: 400px;
}

.game-wrapper__start-field,
.game-wrapper_results-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.game-wrapper__start-controls {
  width: 300px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game-wrapper__start-controls button {
  width: 80px;
  height: 80px;
  background: #a30000;
}
.game-wrapper__start-controls button:last-child {
  background: #ffdb00;
}

.game-wrapper__game-field {
  padding: 1rem;
  width: fit-content;
  margin: 0 auto;
}

.game-wrapper__game-field ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}

.square-item {
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #444;
  cursor: pointer;
}

.square-item__red {
  background: #a30000;
  cursor: auto;
}

.square-item__yellow {
  background: #ffdb00;
  cursor: auto;
}
